body {
    background-image: url("../pics/daniel-roberts-db6lQP8EBfM-unsplash.jpg");
}

.size {
    height: 500px;
    padding-bottom: 400px;
}

.overlay {
    color: #fff;
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 130%;
    font-weight: 100;
    stroke: black;
    stroke-width: 5px;
}

.dev1 {
    padding: 10px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}

.contents {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 110%;
}

.button-37 {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .button-37 {
        padding: 10px 30px;
    }
}

.weather {
    background-color: rgba(16, 15, 15, 0.9);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}

.ribbon {
    background-color: rgba(9, 74, 4, 0.808);
}